<div class="ui relaxed equal width centered grid">
  <div class="ui row">
    <div class="ui five wide column segment">
      <h2 class="ui center aligned dividing header">
        <%= yield :page_title %>
      </h2>
      
      <%= yield :devise_form %>
    </div>
  </div>
</div>